<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Collection</title>
    <link rel="stylesheet" href="articles.css">
    <link rel="stylesheet" href="../../style.css">

</head>
<body>
      <!-- Header Section -->
      <header>
        <nav>
            <div class="nav-right">
                <ul>
                    <li><a href="../../index.html#home">Home</a></li>
                    <li><a href="../../index.html#projects">Projects</a></li>
                    <li><a href="../../index.html#skills">Skills</a></li>
                    <li><a href="#articles">Articles</a></li>
                    <li><a href="../../index.html#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="article-container">
            <!-- Articles will be loaded dynamically -->
        </section>

        <div class="pagination-container">
            <button id="prev-page" disabled>Previous</button>
            <div id="page-numbers"></div>
            <button id="next-page">Next</button>
        </div>
    </main>

    <button id="back-to-top">↑</button>

    <footer>
        <p>&copy; 2025 Article Collection. All rights reserved.</p>
    </footer>

    <script src="articles.js"></script>
    <script src="articles_script.js"></script>
  

</body>
</html>